---
import { SvgCopyright } from 'src/components/svg/copyright.tsx';
import { SvgInstagram, SvgGithub } from 'src/components/svg/socials.tsx';

import {
	footer,
	tree,
	contact,
	socials,
	social_button,
	text_link,
	copyright,
} from './footer.css.ts';
import { body_large, body_medium } from 'src/styles/atomic/fonts.css.ts';
import { IconButton } from 'src/components/button';
---

<footer class={footer}>
	<ul class={tree}>
		<li class={contact}>
			<ul>
				<li>
					<a
						href="mailto:info@ascii-dresden.de"
						class:list={[text_link, body_large]}
					>
						info@ascii-dresden.de
					</a>
				</li>
				<li>
					<a
						href="tel:+4935146342221"
						class:list={[text_link, body_large]}
					>
						+49 351 46342221
					</a>
				</li>
				<li>
					<p class={body_large}>
						Studentencafé ASCII<br />
						Andreas-Pfitzmann-Bau, Raum E016<br />
						Nöthnitzer Strasse 46<br />
						01187 Dresden
					</p>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li>
					<a
						href="/datenschutz"
						class:list={[text_link, body_large]}
					>
						Datenschutz
					</a>
				</li>
				<li>
					<a
						href="/impressum"
						class:list={[text_link, body_large]}
					>
						Impressum
					</a>
				</li>
			</ul>
		</li>
		<li>
			<ul class={socials}>
				<li>
					<IconButton
						class={social_button}
						href="https://www.instagram.com/asciidresden/"
					>
						<SvgInstagram />
					</IconButton>
				</li>
				<li>
					<IconButton
						class={social_button}
						href="https://github.com/ascii-dresden"
					>
						<SvgGithub />
					</IconButton>
				</li>
			</ul>
		</li>
		<li class={copyright}>
			<SvgCopyright />
			<p class={body_medium}>ascii Dresden e.V. 2023</p>
		</li>
	</ul>
</footer>
