---
import { Image } from 'astro:assets';

import asset_img_cafe from 'src/assets/ascii_hero.jpg';
import BaseLayout from 'src/layouts/base.astro';
import { BusinessHours } from 'src/components/business_hours.tsx';
import { Divider } from 'src/components/divider';
import Featured from 'src/components/patterns/featured.astro';
import { body_small } from 'src/styles/atomic/fonts.css';
import { SvgSticker } from 'src/svg/sticker';

import {
	become_member,
	become_member_featured,
	become_member_head,
	business_hours,
	business_hours_footnote,
	business_hours_head,
	divider_1,
	divider_2,
	divider_3,
	divider_4,
	hero,
	hero_image,
	hero_summary,
	next_event,
	next_event_featured,
	next_event_head,
	offer,
	offer_featured,
	offer_head,
} from './index.css.ts';
---

<BaseLayout>
	<section class={hero}>
		<div class={hero_image}>
			<Image src={asset_img_cafe} alt="ascii Theke" />
		</div>
		<div class={hero_summary}>
			<h2>Studentisches Café der Informatik Fakultät der TUD</h2>
			<p>
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
				invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
				et justo duo dolores et ea rebum.
			</p>
		</div>
	</section>
	<Divider class={divider_1} />
	<section class={next_event}>
		<h2 class={next_event_head}>Nächstes Event</h2>
		<Featured class={next_event_featured} href="/events">
			<Fragment slot="title">Spieleabend</Fragment>
			<Fragment slot="description">
				To be fair, you have to have a very high IQ to understand Rick and Morty. The humour is
				extremely subtle, and without a solid grasp of theoretical physics most of the jokes will
			</Fragment>

			<Fragment slot="date">2023/09/14</Fragment>
			<Fragment slot="image">
				<Image src={asset_img_cafe} alt="Event" />
			</Fragment>
			<Fragment slot="button">Events</Fragment>
		</Featured>
	</section>
	<Divider class={divider_2} />
	<section class={offer}>
		<h2 class={offer_head}>Angebot</h2>
		<Featured class={offer_featured} mirror={true} href="/events">
			<Fragment slot="title">Getränk des Monats</Fragment>
			<Fragment slot="description">Wostok Wostok Wostok Wostok</Fragment>
			<Fragment slot="date">Oktober 2023</Fragment>
			<Fragment slot="image">
				<Image src={asset_img_cafe} alt="Angebot" />
			</Fragment>
			<Fragment slot="button">Angebot</Fragment>
		</Featured>
	</section>
	<Divider class={divider_3} />
	<section class={become_member}>
		<h2 class={become_member_head}>Werde Mitglied</h2>
		<Featured class={become_member_featured} href="/verein" noImageBorder outline>
			<Fragment slot="description">
				Das ascii ist toll. Ehrenamt, blah. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
				sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
				voluptua.
			</Fragment>
			<Fragment slot="image">
				<SvgSticker />
			</Fragment>
			<Fragment slot="button">Mehr</Fragment>
		</Featured>
	</section>
	<Divider class={divider_4} />
	<section class={business_hours}>
		<h2 class={business_hours_head}>Öffnungszeiten</h2>
		<BusinessHours />
		<p class:list={[body_small, business_hours_footnote]}>Öffnungszeiten können abweichen</p>
	</section>
</BaseLayout>
