---
import { BusinessHours } from 'src/components/business_hours.tsx';
import { Divider } from 'src/components/divider.tsx';
import Picture from 'src/components/picture.astro';
import BaseLayout from 'src/components/layouts/base/index.astro';
import assetCafe from 'src/content/_images/cafe.webp';
import { fetchCurrentDrinkOfMonth } from 'src/data/drink_of_month.ts';
import { fetchUpcomingEvents } from 'src/data/events.ts';
import {
	body_large,
	body_small,
	display_medium,
	label_large,
	title_large,
} from 'src/styles/atomic/fonts.css.ts';
import { grid } from 'src/styles/atomic/layouts.css.ts';

import {
	become_member,
	become_member_head,
	business_hours,
	business_hours_footnote,
	business_hours_head,
	divider_1,
	divider_2,
	divider_3,
	divider_4,
	hero,
	hero_image,
	hero_image_pic,
	hero_summary,
	hero_title,
	events as events_class,
	events_head,
	offer,
	offer_head,
	events_title,
	events_pager,
	events_carousel,
	event as event_class,
	event_column,
	event_image,
	event_image_picture,
	events_pager_button,
	events_pager_item,
	event_button,
	event_date_separator,
	event_date_time,
	event_description,
	event_title,
} from './index.css.ts';
import { fetchImage } from 'src/data/images';
import { SvgWaveArrowRight } from 'src/components/svg/arrows';

const events = await fetchUpcomingEvents();
const drinkOfMonth = await fetchCurrentDrinkOfMonth();
---

<BaseLayout>
	<section class:list={[hero, grid]}>
		<div class={hero_image}>
			<Picture
				class={hero_image_pic}
				src={assetCafe}
				alt="Interior des „Ascii“ Cafés"
				sizes="100vw"
			/>
		</div>
		<h1 class={hero_title}>Willkommen!</h1>
		<p class:list={[hero_summary, body_large]}>
			Wir sind das studentische Café der Fakultät Informatik. Hier gibt es Kaffee, Tee, Snacks und
			gaaaanz viel Mate. Kommt vorbei!
		</p>
	</section>
	<Divider class={divider_1} />
	<section class={events_class}>
		<div class:list={[grid, events_head]}>
			<ol class={events_pager}>
				{
					events.map((event, i) => (
						<li
							class={events_pager_item}
							id={event.id}
						>
							<button class={events_pager_button}>
								<p class={body_large}>{i + 1}</p>
							</button>
						</li>
					))
				}
			</ol>
			<h2 class:list={[display_medium, events_title]}>Events</h2>
		</div>
		<ol class={events_carousel}>
			{
				events.map(async (event) => (
					<li
						class={event_class}
						id={event.id}
					>
						<div class={event_column}>
							<div class={event_image}>
								<Picture
									class={event_image_picture}
									src={(await fetchImage(event.image)).default}
									alt={event.image_alt}
									sizes={['66vw', { mediaQuery: 'min-width: 1024px', width: '33vw' }]}
								/>
							</div>
							<a
								class={event_button}
								href={`/events/${event.slug}`}
							>
								<div>
									<SvgWaveArrowRight />
								</div>
								<p class={label_large}>mehr lesen</p>
							</a>
						</div>
						<div class={event_column}>
							<p class:list={[event_date_time, body_large]}>
								<time datetime={event.date_time.toString()}>
									{event.date_time.toLocaleString('de-DE', {
										year: '2-digit',
										month: '2-digit',
										day: '2-digit',
									})}
									<span class={event_date_separator}>&nbsp;/&nbsp;</span>
									{event.date_time.toLocaleString('de-DE', { hour: 'numeric', minute: 'numeric' })}
								</time>
							</p>
							<h3 class:list={[title_large, event_title]}>{event.title}</h3>
							<p class:list={[event_description, body_large]}>{event.summary}</p>
						</div>
					</li>
				))
			}
		</ol>
	</section>
	<Divider class={divider_2} />
	<section class:list={[offer, grid]}>
		<h2 class:list={[offer_head, display_medium]}>Getränk des Monats</h2>
		<!--Featured
			class={offer_featured}
			layout="right"
			preLine
			href="/events"
		>
			 TODO: drinkOfMonth might be undefined 
			<Fragment slot="title">{drinkOfMonth!.title}</Fragment>
			<Fragment slot="description">{drinkOfMonth!.description}</Fragment>
			<Fragment slot="date">
				{drinkOfMonth!.year_month.toLocaleString('de-DE', { month: 'long', year: 'numeric' })}
			</Fragment>
			<Fragment slot="image">
				<Image
					file={drinkOfMonth!.image}
					alt={drinkOfMonth!.image_alt}
					sizes="66vw"
				/>
			</Fragment>
			<Fragment slot="button">Angebot</Fragment>
		</Featured-->
	</section>
	<Divider class={divider_3} />
	<section class:list={[become_member, grid]}>
		<h2 class:list={[become_member_head, display_medium]}>Werde Mitglied</h2>
		<!--Featured
			class={become_member_featured}
			href="/verein"
			noImageBorder
			outline
		>
			<Fragment slot="description">
				Möchtest du Teil eines bunten Haufens werden und die Campus-Community bereichern? Bei uns
				kannst du nicht nur Kaffee brauen, sondern auch neue Freundschaften knüpfen, Events
				organisieren und Teil eines lebendigen Netzwerks sein.
			</Fragment>
			<Fragment slot="image">
				<SvgSticker class={become_member_sticker} />
			</Fragment>
			<Fragment slot="button">Mitmachen</Fragment>
		</Featured-->
	</section>
	<Divider class={divider_4} />
	<section
		class:list={[business_hours, grid]}
		id="business_hours"
	>
		<h2 class:list={[business_hours_head, display_medium]}>Öffnungszeiten</h2>
		<BusinessHours />
		<p class:list={[body_small, business_hours_footnote]}>Öffnungszeiten können abweichen</p>
	</section>
</BaseLayout>
