---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import asset_img_cafe from 'src/assets/ascii_hero.jpg';
import { useAngebot } from 'src/data/angebot.ts';
import BaseLayout from 'src/layouts/base.astro';
import { BusinessHours } from 'src/components/business_hours.tsx';
import { Divider } from 'src/components/divider';
import Featured from 'src/components/patterns/featured.astro';
import { body_small } from 'src/styles/atomic/fonts.css';
import { SvgSticker } from 'src/svg/sticker';

import {
	become_member,
	become_member_featured,
	become_member_head,
	business_hours,
	business_hours_footnote,
	business_hours_head,
	divider_1,
	divider_2,
	divider_3,
	divider_4,
	hero,
	hero_image,
	hero_summary,
	next_event,
	next_event_date_separator,
	next_event_featured,
	next_event_head,
	offer,
	offer_featured,
	offer_head,
} from './index.css.ts';

const events = await getCollection('events', ({ data }) => new Date(data.datetime) >= new Date());
const nextEvent = events.at(0)?.data;

const angebot = useAngebot();
---

<BaseLayout>
	<section class={hero}>
		<div class={hero_image}>
			<Image src={asset_img_cafe} alt="ascii Theke" />
		</div>
		<div class={hero_summary}>
			<h1>Willkommen!</h1>
			<p>
				Wir sind ein studentisch geführtes Café in der Fakultät Informatik der TU Dresden. Bei uns
				gibt es Snacks, Kalt- und Heißgetränke, sowie Sofas als idealen Ort zum Verweilen und
				Austauschen mit anderen Studierenden.
			</p>
		</div>
	</section>
	<Divider class={divider_1} />
	<section class={next_event}>
		<h2 class={next_event_head}>Nächstes Event</h2>
		{
			nextEvent ? (
				<Featured class={next_event_featured} layout="left" href="/events">
					<Fragment slot="title">{nextEvent.title}</Fragment>
					<Fragment slot="description">{nextEvent.summary}</Fragment>
					<Fragment slot="date">
						<time datetime={nextEvent.datetime.toISOString()}>
							{nextEvent.datetime.toLocaleString('de-DE', {
								year: '2-digit',
								month: '2-digit',
								day: '2-digit',
							})}
							<span class={next_event_date_separator}> / </span>
							{nextEvent.datetime.toLocaleString('de-DE', { hour: 'numeric', minute: 'numeric' })}
						</time>
					</Fragment>
					<Fragment slot="image">
						<Image src={asset_img_cafe} alt="Event" />
					</Fragment>
					<Fragment slot="button">Events</Fragment>
				</Featured>
			) : (
				<p>Keine Events in Planung</p>
			)
		}
	</section>
	<Divider class={divider_2} />
	<section class={offer}>
		<h2 class={offer_head}>Angebot</h2>
		<Featured class={offer_featured} layout="right" href="/events">
			<Fragment slot="title">{angebot.title}</Fragment>
			<Fragment slot="description">{angebot.description}</Fragment>
			<Fragment slot="date">
				{angebot.year_month.toLocaleString('de-DE', { month: 'long', year: 'numeric' })}
			</Fragment>
			<Fragment slot="image">
				<Image src={asset_img_cafe} alt="Angebot" />
			</Fragment>
			<Fragment slot="button">Angebot</Fragment>
		</Featured>
	</section>
	<Divider class={divider_3} />
	<section class={become_member}>
		<h2 class={become_member_head}>Werde Mitglied</h2>
		<Featured class={become_member_featured} href="/verein" noImageBorder outline>
			<Fragment slot="description">
				Möchtest du Teil eines bunten Haufens werden und die Campus-Community bereichern? Bei uns
				kannst du nicht nur Kaffee brauen, sondern auch neue Freundschaften knüpfen, Events
				organisieren und Teil eines lebendigen Netzwerks sein.
			</Fragment>
			<Fragment slot="image">
				<SvgSticker />
			</Fragment>
			<Fragment slot="button">Mitmachen</Fragment>
		</Featured>
	</section>
	<Divider class={divider_4} />
	<section class={business_hours} id="business_hours">
		<h2 class={business_hours_head}>Öffnungszeiten</h2>
		<BusinessHours />
		<p class:list={[body_small, business_hours_footnote]}>Öffnungszeiten können abweichen</p>
	</section>
</BaseLayout>
