---
import { BusinessHours } from 'src/components/business_hours.tsx';
import { Divider } from 'src/components/divider';
import Image from 'src/components/image.astro';
import Featured from 'src/components/patterns/featured.astro';
import BaseLayout from 'src/components/layouts/base/index.astro';
import { SvgSticker } from 'src/components/svg/sticker';
import { fetchCurrentDrinkOfMonth } from 'src/data/drink_of_month.ts';
import { fetchNextEvent } from 'src/data/events.ts';
import {
	body_large,
	body_small,
	display_medium,
	title_large,
} from 'src/styles/atomic/fonts.css.ts';
import { grid } from 'src/styles/atomic/layouts.css.ts';

import {
	become_member,
	become_member_featured,
	become_member_head,
	become_member_sticker,
	business_hours,
	business_hours_footnote,
	business_hours_head,
	divider_1,
	divider_2,
	divider_3,
	divider_4,
	hero,
	hero_image,
	hero_image_pic,
	hero_summary,
	hero_title,
	next_event,
	next_event_button,
	next_event_date_time,
	next_event_date_separator,
	next_event_description,
	next_event_head,
	next_event_image,
	next_event_title,
	offer,
	offer_featured,
	offer_head,
	next_event_time,
	next_event_date,
} from './index.css.ts';
import { AnchorButton } from 'src/components/button';
import { screens } from 'src/styles/atomic/screens.css';

const drinkOfMonth = await fetchCurrentDrinkOfMonth();
const nextEvent = await fetchNextEvent();
---

<BaseLayout>
	<section class:list={[hero, grid]}>
		<div class={hero_image}>
			<Image
				class={hero_image_pic}
				file="cafe.webp"
				alt="Interior des „Ascii“ Cafés"
				sizes="100vw"
			/>
		</div>
		<h1 class={hero_title}>Willkommen!</h1>
		<p class:list={[hero_summary, body_large]}>
			Wir sind das studentische Café der Fakultät Informatik. Hier gibt es Kaffee, Tee, Snacks und
			gaaaanz viel Mate. Kommt vorbei!
			<!-- Wir sind ein studentisch geführtes Café in der Fakultät Informatik der TU Dresden. Bei uns -->
			<!-- gibt es Snacks, Kalt- und Heißgetränke, sowie Sofas als idealen Ort zum Verweilen und -->
			<!-- Austauschen mit anderen Studierenden. -->
		</p>
	</section>
	<Divider class={divider_1} />
	<section class:list={[next_event, grid]}>
		<h2 class:list={[next_event_head, display_medium]}>Nächstes Event</h2>
		<h3 class:list={[next_event_title, title_large]}>{nextEvent.title}</h3>
		<p class:list={[next_event_description, body_large]}>
			{nextEvent.summary}
		</p>
		<p class={next_event_date_time}>
			<time
				class:list={[next_event_date, body_large]}
				datetime={nextEvent.date_time.toPlainDate().toString()}
			>
				{
					nextEvent.date_time.toLocaleString('de-DE', {
						year: '2-digit',
						month: '2-digit',
						day: '2-digit',
					})
				}
			</time>
			<span class:list={[next_event_date_separator, body_large, screens.lt_lg]}>&nbsp;/&nbsp;</span>
			<span class:list={[next_event_date_separator, body_large, screens.lg]}>└─&nbsp;</span>
			<time
				class:list={[next_event_time, body_large]}
				datetime={nextEvent.date_time.toPlainTime().toString()}
			>
				{nextEvent.date_time.toLocaleString('de-DE', { hour: 'numeric', minute: 'numeric' })}
			</time>
		</p>
		<div class={next_event_image}>
			<Image
				file={nextEvent.image}
				alt={nextEvent.image_alt}
				sizes="66vw"
			/>
		</div>
		<AnchorButton
			class={next_event_button}
			client:load
			href="/events"
		>
			<p class={body_large}>Events</p>
		</AnchorButton>
	</section>
	<Divider class={divider_2} />
	<section class:list={[offer, grid]}>
		<h2 class:list={[offer_head, display_medium]}>Getränk des Monats</h2>
		<Featured
			class={offer_featured}
			layout="right"
			preLine
			href="/events"
		>
			<!-- TODO: drinkOfMonth might be undefined -->
			<Fragment slot="title">{drinkOfMonth!.title}</Fragment>
			<Fragment slot="description">{drinkOfMonth!.description}</Fragment>
			<Fragment slot="date">
				{drinkOfMonth!.year_month.toLocaleString('de-DE', { month: 'long', year: 'numeric' })}
			</Fragment>
			<Fragment slot="image">
				<Image
					file={drinkOfMonth!.image}
					alt={drinkOfMonth!.image_alt}
					sizes="66vw"
				/>
			</Fragment>
			<Fragment slot="button">Angebot</Fragment>
		</Featured>
	</section>
	<Divider class={divider_3} />
	<section class:list={[become_member, grid]}>
		<h2 class:list={[become_member_head, display_medium]}>Werde Mitglied</h2>
		<Featured
			class={become_member_featured}
			href="/verein"
			noImageBorder
			outline
		>
			<Fragment slot="description">
				Möchtest du Teil eines bunten Haufens werden und die Campus-Community bereichern? Bei uns
				kannst du nicht nur Kaffee brauen, sondern auch neue Freundschaften knüpfen, Events
				organisieren und Teil eines lebendigen Netzwerks sein.
			</Fragment>
			<Fragment slot="image">
				<SvgSticker class={become_member_sticker} />
			</Fragment>
			<Fragment slot="button">Mitmachen</Fragment>
		</Featured>
	</section>
	<Divider class={divider_4} />
	<section
		class:list={[business_hours, grid]}
		id="business_hours"
	>
		<h2 class:list={[business_hours_head, display_medium]}>Öffnungszeiten</h2>
		<BusinessHours />
		<p class:list={[body_small, business_hours_footnote]}>Öffnungszeiten können abweichen</p>
	</section>
</BaseLayout>
