---
import { BusinessHours } from 'src/components/business_hours.tsx';
import { Divider } from 'src/components/divider';
import Image from 'src/components/image.astro';
import BaseLayout from 'src/components/layouts/base/index.astro';
import { fetchCurrentDrinkOfMonth } from 'src/data/drink_of_month.ts';
import { body_large, body_small, display_medium } from 'src/styles/atomic/fonts.css.ts';
import { grid } from 'src/styles/atomic/layouts.css.ts';

import {
	become_member,
	become_member_head,
	business_hours,
	business_hours_footnote,
	business_hours_head,
	divider_1,
	divider_2,
	divider_3,
	divider_4,
	hero,
	hero_image,
	hero_image_pic,
	hero_summary,
	hero_title,
	events as events_class,
	events_head,
	offer,
	offer_head,
	events_title,
} from './index.css.ts';
import { EventsCarousel, EventsPager } from './index.events.tsx';

const drinkOfMonth = await fetchCurrentDrinkOfMonth();
---

<BaseLayout>
	<section class:list={[hero, grid]}>
		<div class={hero_image}>
			<Image
				class={hero_image_pic}
				file="cafe.webp"
				alt="Interior des „Ascii“ Cafés"
				sizes="100vw"
			/>
		</div>
		<h1 class={hero_title}>Willkommen!</h1>
		<p class:list={[hero_summary, body_large]}>
			Wir sind das studentische Café der Fakultät Informatik. Hier gibt es Kaffee, Tee, Snacks und
			gaaaanz viel Mate. Kommt vorbei!
			<!-- Wir sind ein studentisch geführtes Café in der Fakultät Informatik der TU Dresden. Bei uns -->
			<!-- gibt es Snacks, Kalt- und Heißgetränke, sowie Sofas als idealen Ort zum Verweilen und -->
			<!-- Austauschen mit anderen Studierenden. -->
		</p>
	</section>
	<Divider class={divider_1} />
	<section class={events_class}>
		<div class:list={[grid, events_head]}>
			<EventsPager client:load />
			<h2 class:list={[display_medium, events_title]}>Events</h2>
		</div>
		<EventsCarousel client:load />
	</section>
	<Divider class={divider_2} />
	<section class:list={[offer, grid]}>
		<h2 class:list={[offer_head, display_medium]}>Getränk des Monats</h2>
		<!--Featured
			class={offer_featured}
			layout="right"
			preLine
			href="/events"
		>
			 TODO: drinkOfMonth might be undefined 
			<Fragment slot="title">{drinkOfMonth!.title}</Fragment>
			<Fragment slot="description">{drinkOfMonth!.description}</Fragment>
			<Fragment slot="date">
				{drinkOfMonth!.year_month.toLocaleString('de-DE', { month: 'long', year: 'numeric' })}
			</Fragment>
			<Fragment slot="image">
				<Image
					file={drinkOfMonth!.image}
					alt={drinkOfMonth!.image_alt}
					sizes="66vw"
				/>
			</Fragment>
			<Fragment slot="button">Angebot</Fragment>
		</Featured-->
	</section>
	<Divider class={divider_3} />
	<section class:list={[become_member, grid]}>
		<h2 class:list={[become_member_head, display_medium]}>Werde Mitglied</h2>
		<!--Featured
			class={become_member_featured}
			href="/verein"
			noImageBorder
			outline
		>
			<Fragment slot="description">
				Möchtest du Teil eines bunten Haufens werden und die Campus-Community bereichern? Bei uns
				kannst du nicht nur Kaffee brauen, sondern auch neue Freundschaften knüpfen, Events
				organisieren und Teil eines lebendigen Netzwerks sein.
			</Fragment>
			<Fragment slot="image">
				<SvgSticker class={become_member_sticker} />
			</Fragment>
			<Fragment slot="button">Mitmachen</Fragment>
		</Featured-->
	</section>
	<Divider class={divider_4} />
	<section
		class:list={[business_hours, grid]}
		id="business_hours"
	>
		<h2 class:list={[business_hours_head, display_medium]}>Öffnungszeiten</h2>
		<BusinessHours />
		<p class:list={[body_small, business_hours_footnote]}>Öffnungszeiten können abweichen</p>
	</section>
</BaseLayout>
