---
import { Divider } from 'src/components/divider.tsx';
import { SvgSticker } from 'src/svg/sticker.tsx';

import {
	divider,
	become_member,
	button_more,
	card_summary,
	head,
	image,
} from './become_member.css.ts';
---

<section class={become_member}>
	<Divider class={divider} />
	<h2 class={head}>Werde Mitglied</h2>
	<p class={card_summary}>
		Das ascii ist toll. Ehrenamt, blah. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
		diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
	</p>
	<div class={image}>
		<SvgSticker />
	</div>
	<a href="/events" class={button_more}>
		<p>Mehr...</p>
	</a>
</section>
