---
import { Image } from 'astro:assets';

import asset_img_cafe from 'src/assets/ascii_hero.jpg';
import { Divider } from 'src/components/divider.tsx';

import { divider, angebot, button_more, head, image, title, summary, date } from './offer.css.ts';
---

<section class={angebot}>
	<Divider class={divider} />
	<h2 class={head}>Angebot</h2>
	<h3 class={title}>Getränk des Monats</h3>
	<p class={summary}>Wostok Wostok Wostok Wostok</p>
	<p class={date}>Oktober 2023</p>
	<div class={image}>
		<Image src={asset_img_cafe} alt="Angebot" />
	</div>
	<a href="/angebot" class={button_more}>
		<p>Mehr...</p>
	</a>
</section>
